.bg-img {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 1;
    overflow-x: scroll;
}

.header1 {
    width: 100%;
    height: 5%;
    background-color: #212121;
    z-index: 2;
}

.btn a{
    text-decoration: none;
    color: #ffffff;
}

.btn :hover,
.btn :active {
    background-color: #f0f820;
}

.btn :link,
.btn :visited {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: black;
    padding: 10px 30px;
    font-weight: 300;
    border: 2px solid #baa60f;
    border-radius: 200px;
}

.rules {
    position: absolute;
    bottom: 20%;
    left: 20%;
    z-index: 2;
}

.discord {
    position: absolute;
    bottom: 20%;
    left: 46%;
    z-index: 2;
}

.donate {
    position: absolute;
    bottom: 20%;
    left: 70%;
    z-index: 2;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    position: absolute;
    bottom: 45%;
    left: 39%;
    color: #ffffff;
    z-index: 3;
}

.homelink {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    top: 1%;
    right: 17.2%;
}

.ruleslink {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    top: 1%;
    right: 1%;
}

.donatelink {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    top: 1%;
    right: 5.5%;
}

.discordlink {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    top: 1%;
    right: 11.3%;
}

.logo {
    position: absolute;
    width: 10%;
    height: 10%;
    top: -8%;
    left: -1%;
    z-index: 2;
}

.rulesbox{
    text-align: center;
}

.rulesbox1 {
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;  
    border-radius: 25px;
    text-align: center;
}


.title1 {
    position: absolute;
    left: 45%;
    color: #ffffff;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    top: 13%;
}


.list {
    position: absolute;
    left: -2%;
    top: 5%;
    height: 50%;
    font-size: 18px;
    color: #ffffff;
    opacity: 100%;
    list-style: none;
}

li {
    padding: 5px 0;
}

.title2 {
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    left: 45%;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    top: 103%;
}

.list2 {
    position: absolute;
    top:74%;
    left: 26%;
    font-size: 18px;
    color: #ffffff;
    opacity: 100%;
    list-style: none;
    z-index: 3;
    text-align: center;
    height: 25%;
}


.bg-img1 {
    width: 40%;
    height: 25%;
    top: 44%;
    left: 31%
}
